@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-accent-hover: #00e187;

  --font-family-primary: "JetBrains Mono", monospace;
  --font-family-prata: Prata;

  --background-image-gray-gradient: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );

  --breakpoint-xsm: 490px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-mdl: 968px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

html,
body {
  @apply dark:bg-primary bg-white text-black dark:text-white leading-loose size-full;
}

body {
  @apply overflow-hidden;
}

.h1 {
  @apply text-5xl xl:text-[75px] leading-[1.1] font-semibold;
}

.h2 {
  @apply text-4xl xl:text-[48px] leading-[1.1] font-semibold;
}

.h3 {
  @apply text-xl xl:text-[24px] leading-[1.1] font-semibold;
}

.sectionContainer {
  @apply max-w-7xl mx-auto px-6 md:px-8;
}

.icon-class {
  @apply text-gray-500 dark:text-gray-400 group-hover:text-black  dark:group-hover:text-white min-w-6 min-h-6 sm:min-w-8 sm:min-h-8 transition-all duration-200;
}

.cta-button {
  @apply px-4 py-4 rounded-lg bg-accent flex justify-center items-center relative cursor-pointer overflow-hidden;

  .bg-circle {
    @apply absolute -left-10 origin-center top-1/2 -translate-y-1/2 
      w-[120%] h-[120%] group-hover:size-10 group-hover:left-[57%]
      group-hover:rounded-full bg-black dark:bg-white transition-all duration-500;
  }

  .text {
    @apply uppercase md:text-lg text-white dark:text-black transition-all duration-500
       group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
  }

  .arrow-wrapper {
    @apply size-10 rounded-full absolute left-[57%] top-1/2 
      -translate-y-1/2 flex justify-center items-center overflow-hidden;

    .icon {
      @apply text-white dark:!text-black group-hover:text-accent size-4 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
    }
  }
}
